<section class="card">
  <aside data-test-id="card_product_clic" (click)="getDescription()">
    <figure class="card__figure">
      <img
        data-test-id="card-image"
        class="card__image"
        src="https://i.blogs.es/187a45/iphone-11-pro-02/840_560.jpg"
        [alt]="product.description"
      />
    </figure>
  </aside>
  <body class="card__content">
    <div (click)="getDescription()" class="card__description">
      <h1 data-test-id="card_product_title" class="card__title">
        {{ product.price | currency: '$':'symbol':'1.2-4' }}
      </h1>
      <p data-test-id="card_product_info" class="card__info">
        {{ product.description }}
      </p>
    </div>
    <div data-test-id="card_product_ditional-info" class="card__aditional-info">
      <div>{{ product.city }}</div>
    </div>
  </body>
</section>
