<section class="card">
  <aside (click)="getDescription()">
    <figure class="card__figure">
      <img
        class="card__image"
        src="https://i.blogs.es/187a45/iphone-11-pro-02/840_560.jpg"
        alt="{{ product.description }}"
      />
    </figure>
  </aside>
  <body class="card__body">
    <div (click)="getDescription()" class="card__description">
      <h1 class="card__title">
        {{ product.price | currency: '$':'symbol':'1.2-4' }}
      </h1>
      <p class="card__info">{{ product.description }}</p>
    </div>
    <div class="card__aditional-info">
      <div>{{ product.city }}</div>
    </div>
  </body>
</section>
