<section class="search-bar">
  <div class="search-bar__content">
    <figure class="search-bar__logo">
      <img src="assets/images/logo.png" alt="logo" />
    </figure>

    <input
      data-test-id="search_input"
      class="search-bar__input"
      placeholder="Nunca dejes de buscar"
      type="text"
      [(ngModel)]="searchText"
      (keyup.enter)="onSearch()"
    />

    <div
      data-test-id="search_clic"
      class="search-bar__search"
      (click)="onSearch()"
    >
      <div>
        <figure>
          <img src="assets/images/search.png" alt="logo" />
        </figure>
      </div>
    </div>
  </div>
</section>
