.card {
  display: flex;
  background-color: white;

  &__image {
    width: 180px;
    height: 180px;
    border-radius: 4px;
    margin: $space-16;
  }

  &__body {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: $space-16;
  }

  &__descripxion {
    display: flex;
    flex-direction: column;
    column-gap: 32px;
    width: 50%;
  }

  &__title,
  &__info {
    font-weight: 100;
  }

  &__title {
    font-size: $font-size-24;
    color: $dark-gray;
  }
  &__info {
    font-size: $font-size-18;
    color: $dark-gray;
  }

  &__aditional-info {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 50%;
    color: $light-grey;
    font-size: $font-size-12;
    padding-left: 8em;
  }
}
