.description {
  background: white;
  padding: $space-32;

  &__title {
    font-weight: 100;
    color: $dark-gray;
    font-size: $font-size-28;
    padding-bottom: $space-32;
  }
  &__body {
    color: $light-grey;
    font-size: $font-size-16;
    font-weight: 100;
    width: 70%;
  }
}

.buy-detail {
  background: white;
  width: 100%;
  display: flex;
  padding-top: 31px; //todo

  .product {
    width: 71%;
    text-align: center;
  }
  .detail {
    width: 29%;
  }

  &__image {
    width: 680px;
    height: auto;
  }

  &__sales,
  &__description,
  &__price {
    display: block;
  }

  &__sales {
    color: $dark-gray;
    font-size: $font-size-14;
    padding-bottom: $font-size-16;
  }
  &__description {
    color: $dark-gray;
    font-size: $font-size-24;
    margin-bottom: $space-32;
  }
  &__price {
    color: $dark-gray;
    font-size: $font-size-46;
    font-weight: 100;
    padding-bottom: $space-32;
  }
}
