<div class="buy-detail">
  <section class="product">
    <figure>
      <img
        class="buy-detail__image"
        src="https://i.blogs.es/187a45/iphone-11-pro-02/840_560.jpg"
        alt="product.description"
        title="product.name"
      />
    </figure>
  </section>

  <section class="detail">
    <span class="buy-detail__sales">
      Nuevo - {{ product.totalSales }} vendidos</span
    >
    <strong class="buy-detail__description">
      {{ product.description }}
    </strong>
    <span class="buy-detail__price">
      {{ product.price | currency: '$':'symbol':'1.3' }}
    </span>

    <button class="button-blue">Comprar</button>
  </section>
</div>
